<div class="container-fluid">
<div class = "row justify-content-md-center">
<div class = "col col-md-6">
<h6><%= link_to "Project", project_index_path %> > <%= link_to @project.name, project_path(@project) %> > Settings <h6>
<h4> <%= @project.name %> </h4>
<br/>
<div class="card">
  <div class="card-header">
    Config
    </div>
  <div class="card-body">
  <h6>Webhook URL : <%= @project.webhook %> </h6>
  <h6>Secret : <%= @project.secret %> </h6>
  </div>
</div>
</div>
</div>
</div>