<div class="container-fluid">
<div class = "row justify-content-md-center">
<div class = "col col-md-6">
<h4> <%= @project.name %> 
<% if user_signed_in? && current_user == @project.user %>
<%= link_to "Settings", project_settings_path(@project) %> 
<% end %>
</h4>
<br/>
<h3>Changelog</h3>
<h6>All notable changes to this project will be documented in this file.</h6>
<h6>The format is based on  <a href="http://keepachangelog.com/en/1.0.0/">Keep a Changelog</a>
and this project adheres to <a href="http://semver.org/spec/v2.0.0.html">Semantic Versioning</a>.</h6>
<br/>
<% @releaselogs.each do | log | %>
    <h4><%= log.release_version %> - <%= log.release_date %>
    <% if user_signed_in? && current_user == @project.user %>
      <%= link_to "Edit", changelog_edit_path(log) %>
    <% end %> 
    </h4> 
    <h5>Fixed</h5>
    <%= markdown(log.fixed) %>
    <h5>Added</h5>
    <%= markdown(log.added) %>
    <h5>Changed</h5>
    <%= markdown(log.modify) %>
    <h5>Deprecated</h5>
    <%= markdown(log.deprecated) %>
    <h5>Removed</h5>
    <%= markdown(log.added) %>
    <br/>
    <br/>
<% end %>
</div>
</div>
</div>